.end {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0008;
    display: flex;
    justify-content: center;
    z-index: 1000;
    align-items: center;
    flex-direction: column
}