<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>owned-cards</title>
</head>

<body>
  <div class="row titre">
    <h1>Mes cartes</h1>
  </div>
  <div class="row">
    <h3 class="titre">Trier :</h3>
    <select name="Champs" id="filter">
      <option value="Attaque">Attaque</option>
      <option value="Points de vie">Points de vie</option>
      <option value="Mana">Mana</option>
    </select>

    <select name="Ordre" id="filterOrdre">
      <option value="Croissant">Croissant</option>
      <option value="Décroissant">Décroissant</option>
    </select>
  </div>

  <!-- Boucle ngFor affichage carte -->
  <div _ngcontent-ng-c1308917473 class="cards-container">
    <mat-card *ngFor="let c of listOwnedCards">

      <mat-card-header _ngcontent-ng-c2357935512>
        <div _ngcontent-ng-c2357935512 mat-card-avatar class="mat-mdc-card-header infinite-card-mana-cost">
          <div _ngcontent-ng-c2357935512>{{c.cost}}</div>
        </div>
        <div class="mat-mdc-card-header-text">
          <mat-card-title _ngcontent-ng-c2357935512 class="mat-mdc-card-title">{{c.name}} </mat-card-title>
        </div>

      </mat-card-header>
      <mat-card>
        <img src="{{c.imageUrl}}" alt="Image de la carte" width="300px" height="300px">

        <P>Attaque: {{c.attack}}</P>
        <P>PV: {{c.health}}</P>

      </mat-card>


    </mat-card>

  </div>

</body>

</html>