<div class="table-container" *ngIf="matchList.length > 0; else noMatches">
    <h1>Parties</h1>
    <table>
      <thead>
        <tr>
          <th>Joueur A</th>
          <th>Joueur B</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of matchList">
          <td>newnew.com</td>
          <td>new2new.com</td>
          <td><button class="watch-button">Regarder</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noMatches>
    <p>Aucun match en cours pour le moment.</p>
  </ng-template>