<div class="decks-list">
  <div class="create-deck">
    <!-- <h2> Nouveau deck </h2>  -->
    <!-- <button mat-raised-button (click)="openDialog()">Créer un nouveau deck</button>  -->

    <h2>Créer un nouveau deck</h2>
    <form (ngSubmit)="createDeck()">
      <input type="text" [(ngModel)]="newDeckName" placeholder="Nom du deck" required />
      <button type="submit">Créer</button>
    </form>
  </div>
  <h2>Mes Decks</h2>
  <div *ngFor="let d of decks" class="deck">
    <h3>{{ d.name }}</h3>
    <button (click)="setCurrentDeck(d.id!)">Rendre courant</button>
    <button (click)="deleteDeck(d.id!)" [disabled]="d.isCurrent">Supprimer</button>

     <!-- Bouton pour afficher les cartes disponibles à ajouter -->
      <!-- <button (click)="showAvailableCards(d.id!)">Ajouter des cartes</button>  -->

     <div *ngIf=" d.deckCards.length > 0 " class="available-cards">
      <h4>Cartes du deck {{d.name}}</h4>
      <ul>
        <div class="cards-container">
          <mat-card *ngFor="let deckCard of d.deckCards" (click)="removeCardFromDeck(deckCard.ownedCard.card.id, d.id!)" >
      
              <mat-card-header _ngcontent-ng-c2357935512>
                  <div _ngcontent-ng-c2357935512 mat-card-avatar class="mat-mdc-card-header infinite-card-mana-cost">
                      <div _ngcontent-ng-c2357935512>{{deckCard.ownedCard.card.cost}}</div>
                  </div>
                  <div class="mat-mdc-card-header-text">
                      <mat-card-title _ngcontent-ng-c2357935512 class="mat-mdc-card-title">{{deckCard.ownedCard.card.name}} </mat-card-title>
                  </div>
      
              </mat-card-header>
              <mat-card>
                  <img src="{{deckCard.ownedCard.card.imageUrl}}" alt="Image de la carte" width="300px" height="300px">
      
                  <P>Attaque: {{deckCard.ownedCard.card.attack}}</P>
                  <P>PV: {{deckCard.ownedCard.card.health}}</P>
      
              </mat-card>
      
      
          </mat-card>
      
      </div>
       <li *ngFor="let item of listOwnedCards" (click)="addCardToDeck(item.id, d.id!)">
          {{ item.name }} 
         <!-- <button (click)="addCardToDeck(card.id, d.id!)">Ajouter</button>  -->
        </li> 
      </ul> 
    </div>
  </div>
</div>