@if (show=='front') {
  <mat-card class="infinite-card">
    <mat-card-header>
      <div mat-card-avatar class="infinite-card-mana-cost">
        {{card?.cost}} <i class="fas fa-gem"></i>
      </div>
      <mat-card-title>{{card?.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="infinite-card-content" style="background-image: url({{card?.imageUrl}});">
      <table style="font-size: 2em; font-size: 2em; width: fit-content; text-shadow: 2px 2px 2px black;">
        <tr>
          <td><i class="fas fa-fist-raised"></i></td>
          <td>{{card?.attack}}</td>
        </tr>
        <tr>
          <td><i class="fas fa-shield-alt"></i></td>
          <td>{{card?.health}}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
}

@if (show=='back') {
  <mat-card  class="infinite-card" style="background-image: url({{beautifulBackUrl}});">
  </mat-card>
}
