<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>card-store</title>
</head>

<body>
  <div class="row titre">
    <h1>Magasin de cartes</h1>
  </div>
  <div class="row">
    <h3 class="titre">Trier :</h3>
    <select name="Champs" id="filter">
      <option value="Attaque">Attaque</option>
      <option value="Points de vie">Points de vie</option>
      <option value="Mana">Mana</option>
    </select>

    <select name="Ordre" id="filterOrdre">
      <option value="Croissant">Croissant</option>
      <option value="Décroissant">Décroissant</option>
    </select>
  </div>

  <!-- Boucle ngFor affichage carte -->
  <div _ngcontent-ng-c1308917473 class="cards-container">
    <app-card *ngFor="let c of listCards" class="card fadeIn ng-star-inserted">
      <mat-card-content class="mat-mdc-card-content">
        <img src="{{c.imageUrl}}" alt="Image de la carte" width="250px" height="300px">
        <td>Nom : {{c.name}} </td>
        <P>Attaque: {{c.attack}}</P>
        <P>PV: {{c.health}}</P>
        <p>Mana : {{c.cost}}</p>
      </mat-card-content>
    </app-card>
  </div>





</body>

</html>