<!-- <div class="row">
    <h3 class="titre">Trier :</h3>
    <select name="Champs" id="sortProperty" (change)="onSortPropertyChange($event)">
        <option value="attack">Attaque</option>
        <option value="health">Points de vie</option>
        <option value="Mana">Mana</option>
    </select>

    <select name="Ordre" id="filterOrdre">
        <option value="asc">Croissant</option>
        <option value="desc">Décroissant</option>
    </select>
</div> -->

<mat-form-field>
    <mat-label>Trier par type</mat-label>
    <mat-select [(ngModel)]="sortOrderProperty" (selectionChange)="onSortPropertyChange($event.value)">
        <mat-option value="attack" default>Attaque</mat-option>
        <mat-option value="health">Points de vie</mat-option>
        <mat-option value="cost">Coût en Mana</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-label>Ordre</mat-label>
    <mat-select [(ngModel)]="sortOrder" (selectionChange)="onSortOrderChange($event.value)">
        <mat-option value="asc" default>Croissant</mat-option>
        <mat-option value="desc">Décroissant</mat-option>

    </mat-select>
</mat-form-field>

<!-- Boucle ngFor affichage carte -->
<div class="cards-container">
    <mat-card *ngFor="let c of cards">

        <mat-card-header _ngcontent-ng-c2357935512>
            <div _ngcontent-ng-c2357935512 mat-card-avatar class="mat-mdc-card-header infinite-card-mana-cost">
                <div _ngcontent-ng-c2357935512>{{c.cost}}</div>
            </div>
            <div class="mat-mdc-card-header-text">
                <mat-card-title _ngcontent-ng-c2357935512 class="mat-mdc-card-title">{{c.name}} </mat-card-title>
            </div>

        </mat-card-header>
        <mat-card>
            <img src="{{c.imageUrl}}" alt="Image de la carte" width="300px" height="300px">

            <P>Attaque: {{c.attack}}</P>
            <P>PV: {{c.health}}</P>

        </mat-card>


    </mat-card>

</div>